<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #E4EDF1 !important;">
  <div class="container-fluid">
    <a class="navbar-brand">Administración</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">Inicio</a>
        <a class="nav-link" routerLink="/carga">Carga</a>
        <a class="nav-link" routerLink="/configuracion">Configuración</a>
      </div>
      <span class="navbar-text ms-auto text-muted">
        v1.0.0
      </span>
    </div>
  </div>
</nav>
